# Import Library

In [1]:
import numpy as np
import pandas as pd

# Import Data

In [2]:
data_spotify = pd.read_csv("https://docs.google.com/spreadsheets/d/1R5KFWb5QXX_4TKrgHsFUzMOEPQ21CehDQmydKL60XC4/export?format=csv")
data_spotify.head()

,user_id,gender,age,country,subscription_type,listening_time,songs_played_per_day,skip_rate,device_type,ads_listened_per_week,offline_listening,is_churned,Top_Genre,Repeat_Song_Rate
0,3,Male,38,AU,Premium,199,38,0.04,Mobile,0,1,1,NaN,NaN
1,6,Female,17,AU,Free,219,35,0.46,Desktop,13,0,0,NaN,NaN
2,21,Female,33,AU,Student,138,60,0.60,Web,0,1,0,NaN,NaN
3,22,Male,49,AU,Premium,20,7,0.45,Desktop,0,1,0,NaN,NaN
4,53,Female,38,AU,Free,41,3,0.00,Desktop,43,0,1,NaN,NaN

In [3]:
data_spotify.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_id                8000 non-null   int64
 1   gender                 8000 non-null   object
 2   age                    8000 non-null   int64
 3   country                8000 non-null   object
 4   subscription_type      8000 non-null   object
 5   listening_time         8000 non-null   int64
 6   songs_played_per_day   8000 non-null   int64
 7   skip_rate              8000 non-null   float64
 8   device_type            8000 non-null   object
 9   ads_listened_per_week  8000 non-null   int64
 10  offline_listening      8000 non-null   int64
 11  is_churned             8000 non-null   int64
 12  Top_Genre              78 non-null     object
 13  Repeat_Song_Rate       78 non-null     float64
dtypes: float64(2), int64(7), object(5)
memory usage: 875.1+ KB

# Missing Value Handling

In [4]:
data_spotify.isna().sum()

user_id                     0
gender                      0
age                         0
country                     0
subscription_type           0
listening_time              0
songs_played_per_day        0
skip_rate                   0
device_type                 0
ads_listened_per_week       0
offline_listening           0
is_churned                  0
Top_Genre                7922
Repeat_Song_Rate         7922
dtype: int64

dari tabel, dapat dilihat bahwa nilai yang tidak ada (NA value) berada pada label Top_Genre dan Repeat_Song_Rate

## *Fill Missing Value at Top_Genre*

karena nilainya berupa "string", maka kita mengisinya menggunakan modus

In [5]:
data_spotify["Top_Genre"] = data_spotify["Top_Genre"].fillna("Other")

In [6]:
data_spotify["Top_Genre"].isna().sum()

np.int64(0)

In [7]:
data_spotify["Top_Genre"].head()

0    Other
1    Other
2    Other
3    Other
4    Other
Name: Top_Genre, dtype: object

Data pada label "Top_Genre" sudah terisi semua, maka kita akan lanjut untuk mengisi NA pada label lainnya

## *Fill Missing Value at Repeat_Song_Rate, Group By Country*

kita mengisi NA pada Repeat_Song_Rate berdasarkan negara, agar dapat terdefinisi lebih jelas, kita juga mengisinya dengan merata-ratakan nilai per negaranya

In [8]:
data_spotify["Repeat_Song_Rate"] = data_spotify.groupby("country")["Repeat_Song_Rate"].transform(lambda x: x.fillna(x.median()))
data_spotify["Repeat_Song_Rate"] = data_spotify["Repeat_Song_Rate"].fillna(data_spotify["Repeat_Song_Rate"].median())

In [9]:
data_spotify["Repeat_Song_Rate"].isna().sum()

np.int64(0)

In [10]:
data_spotify["Repeat_Song_Rate"].head()

0    45.795
1    45.795
2    45.795
3    45.795
4    45.795
Name: Repeat_Song_Rate, dtype: float64

Data pada label "Repeat_Song_Rate" sudah terisi semua

### Save New Data

In [11]:
data_spotify.to_csv("data_spotify.csv", index=False)